@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

$FontFamily: "Lato", Arial, sans-serif;
$FontColor: rgb(39, 46, 61);
$ColorMain: rgb(221, 88, 55);

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $FontFamily;
  color: $FontColor;
  overflow-x: hidden;
  background-color: rgb(221, 88, 55);
}

.mainWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $ColorMain;
  @include mq(768px) {
    flex-direction: row;
  }
}
