.manipulateWrapper {
  width: 100%;
  min-height: 100px;
  margin: 20px 0;
  @include mq(768px) {
    width: 40%;
    height: 100vh;
  }

  .active {
    display: block;
  }

  .notActive {
    display: none;
  }

  form {
    width: 95%;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    margin-top: 120px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    @include mq(768px) {
      width: calc(100% - 60px);
      margin: 100px 30px 0px 30px;
      padding: 30px;
      border-radius: 20px;
    }
  }
  .btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 40px;
      border-radius: 20px;
      background-color: $ColorMain;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.col-1,
.col-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  @include mq(768px) {
    flex-direction: row;
  }

  label {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    @include mq(768px) {
      width: 20%;
      font-size: 1rem;
    }
  }

  textarea {
    width: 100%;
    // height: 40px;
    border-radius: 10px;
    padding: 5px;
    border: none;
    border: 1px solid grey;
    font-size: 1.4rem;
    @include mq(768px) {
      width: 80%;
    }
  }

  .body-txt {
    height: auto;
    min-height: 100px;
    width: 100%;
    @include mq(768px) {
      width: 80%;
    }
  }
}
