.postsWrapper {
  width: 60%;
  height: 100vh;
}

.posts-ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  // min-height: 100%;
  font-size: 0.7rem;
  padding: 0px 10px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  flex-wrap: wrap;
  background-color: rgb(33, 49, 92);
  @include mq(768px) {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 100%;
    font-size: 0.9rem;
    margin: 0px auto;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .posts-li {
    width: 95%;
    height: auto;
    margin: 10px 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    @include mq(768px) {
      width: 95%;
      min-height: 20px;
      margin: 10px;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid grey;
      border-radius: 5px;
    }

    button {
      margin: 0 5px;
      width: 60px;
      height: 30px;
      border-radius: 5px;
      border: none;
      font-weight: bolder;

      &:first-of-type {
        background-color: rgb(8, 123, 168);
        color: rgb(245, 245, 245);
      }

      &:last-of-type {
        background-color: rgb(221, 88, 55);
        margin-right: 10px;
      }
    }
  }
}
