.postsWrapper {
  width: 100%;
  // height: 100vh;
  @include mq(768px) {
    width: 60%;
    height: 100vh;
    margin-top: 120px;
  }
}

.posts-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.9rem;
  padding: 0px 10px;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  flex-wrap: wrap;
  background-color: rgb(33, 49, 92);
  @include mq(768px) {
    width: 90%;
    min-height: 100%;
    border-radius: 10px;
  }

  .posts-li {
    width: 95%;
    min-height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    @include mq(768px) {
      min-height: 20px;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
    }

    button {
      margin: 0 5px;
      min-width: 60px;
      height: 40px;
      border-radius: 5px;
      border: none;
      font-weight: bolder;
      @include mq(768px) {
        margin: 0 5px;
        width: 60px;
        height: 30px;
      }

      &:first-of-type {
        background-color: rgb(8, 123, 168);
        color: rgb(245, 245, 245);
      }

      &:last-of-type {
        background-color: rgb(221, 88, 55);
        margin-right: 10px;
      }
    }
  }
}
